@model vpmc_backend.Models.ParkSurveyDataSheet

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
}

<h1>Edit</h1>

<h4>ParkSurveyDataSheet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetTypeId" class="control-label"></label>
                <select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId"></select>
                <span asp-validation-for="AssetTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandMarkCounty" class="control-label"></label>
                <input asp-for="LandMarkCounty" class="form-control" />
                <span asp-validation-for="LandMarkCounty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandMarkVillage" class="control-label"></label>
                <input asp-for="LandMarkVillage" class="form-control" />
                <span asp-validation-for="LandMarkVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandMarkName" class="control-label"></label>
                <input asp-for="LandMarkName" class="form-control" />
                <span asp-validation-for="LandMarkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandMarkCode" class="control-label"></label>
                <input asp-for="LandMarkCode" class="form-control" />
                <span asp-validation-for="LandMarkCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildMarkCounty" class="control-label"></label>
                <input asp-for="BuildMarkCounty" class="form-control" />
                <span asp-validation-for="BuildMarkCounty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildMarkVillage" class="control-label"></label>
                <input asp-for="BuildMarkVillage" class="form-control" />
                <span asp-validation-for="BuildMarkVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildMarkName" class="control-label"></label>
                <input asp-for="BuildMarkName" class="form-control" />
                <span asp-validation-for="BuildMarkName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildMarkCode" class="control-label"></label>
                <input asp-for="BuildMarkCode" class="form-control" />
                <span asp-validation-for="BuildMarkCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildAddressCounty" class="control-label"></label>
                <input asp-for="BuildAddressCounty" class="form-control" />
                <span asp-validation-for="BuildAddressCounty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildAddressVillage" class="control-label"></label>
                <input asp-for="BuildAddressVillage" class="form-control" />
                <span asp-validation-for="BuildAddressVillage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildAddress" class="control-label"></label>
                <input asp-for="BuildAddress" class="form-control" />
                <span asp-validation-for="BuildAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkArea" class="control-label"></label>
                <input asp-for="ParkArea" class="form-control" />
                <span asp-validation-for="ParkArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkTypeId" class="control-label"></label>
                <select asp-for="ParkTypeId" class="form-control" asp-items="ViewBag.ParkTypeId"></select>
                <span asp-validation-for="ParkTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkMethodId" class="control-label"></label>
                <select asp-for="ParkMethodId" class="form-control" asp-items="ViewBag.ParkMethodId"></select>
                <span asp-validation-for="ParkMethodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandRightsOwner" class="control-label"></label>
                <input asp-for="LandRightsOwner" class="form-control" />
                <span asp-validation-for="LandRightsOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandRightsStatusId" class="control-label"></label>
                <select asp-for="LandRightsStatusId" class="form-control" asp-items="ViewBag.LandRightsStatusId"></select>
                <span asp-validation-for="LandRightsStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandRightsHolding" class="control-label"></label>
                <input asp-for="LandRightsHolding" class="form-control" />
                <span asp-validation-for="LandRightsHolding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingRightsOwner" class="control-label"></label>
                <input asp-for="BuildingRightsOwner" class="form-control" />
                <span asp-validation-for="BuildingRightsOwner" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingRightsStatusId" class="control-label"></label>
                <select asp-for="BuildingRightsStatusId" class="form-control" asp-items="ViewBag.BuildingRightsStatusId"></select>
                <span asp-validation-for="BuildingRightsStatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingRightsHolding" class="control-label"></label>
                <input asp-for="BuildingRightsHolding" class="form-control" />
                <span asp-validation-for="BuildingRightsHolding" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherRights" class="control-label"></label>
                <input asp-for="OtherRights" class="form-control" />
                <span asp-validation-for="OtherRights" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignMethodId" class="control-label"></label>
                <select asp-for="AssignMethodId" class="form-control" asp-items="ViewBag.AssignMethodId"></select>
                <span asp-validation-for="AssignMethodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandUses" class="control-label"></label>
                <input asp-for="LandUses" class="form-control" />
                <span asp-validation-for="LandUses" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingCoverageRatio" class="control-label"></label>
                <input asp-for="BuildingCoverageRatio" class="form-control" />
                <span asp-validation-for="BuildingCoverageRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorAreaRatio" class="control-label"></label>
                <input asp-for="FloorAreaRatio" class="form-control" />
                <span asp-validation-for="FloorAreaRatio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingUsageId" class="control-label"></label>
                <select asp-for="BuildingUsageId" class="form-control" asp-items="ViewBag.BuildingUsageId"></select>
                <span asp-validation-for="BuildingUsageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingStructureId" class="control-label"></label>
                <select asp-for="BuildingStructureId" class="form-control" asp-items="ViewBag.BuildingStructureId"></select>
                <span asp-validation-for="BuildingStructureId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingFinishDate" class="control-label"></label>
                <input asp-for="BuildingFinishDate" class="form-control" />
                <span asp-validation-for="BuildingFinishDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingUpFloor" class="control-label"></label>
                <input asp-for="BuildingUpFloor" class="form-control" />
                <span asp-validation-for="BuildingUpFloor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuildingDownFloor" class="control-label"></label>
                <input asp-for="BuildingDownFloor" class="form-control" />
                <span asp-validation-for="BuildingDownFloor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyFloor" class="control-label"></label>
                <input asp-for="SurveyFloor" class="form-control" />
                <span asp-validation-for="SurveyFloor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkWidth" class="control-label"></label>
                <input asp-for="ParkWidth" class="form-control" />
                <span asp-validation-for="ParkWidth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ParkHeight" class="control-label"></label>
                <input asp-for="ParkHeight" class="form-control" />
                <span asp-validation-for="ParkHeight" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AllowSuv" /> @Html.DisplayNameFor(model => model.AllowSuv)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="InspectionDate" class="control-label"></label>
                <input asp-for="InspectionDate" class="form-control" />
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValueOpinionDate" class="control-label"></label>
                <input asp-for="ValueOpinionDate" class="form-control" />
                <span asp-validation-for="ValueOpinionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppraisalObjectId" class="control-label"></label>
                <select asp-for="AppraisalObjectId" class="form-control" asp-items="ViewBag.AppraisalObjectId"></select>
                <span asp-validation-for="AppraisalObjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppraisalDescription" class="control-label"></label>
                <input asp-for="AppraisalDescription" class="form-control" />
                <span asp-validation-for="AppraisalDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceTypeId" class="control-label"></label>
                <select asp-for="PriceTypeId" class="form-control" asp-items="ViewBag.PriceTypeId"></select>
                <span asp-validation-for="PriceTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EvaluationRightsTypeId" class="control-label"></label>
                <select asp-for="EvaluationRightsTypeId" class="form-control" asp-items="ViewBag.EvaluationRightsTypeId"></select>
                <span asp-validation-for="EvaluationRightsTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppraisalCondition" class="control-label"></label>
                <input asp-for="AppraisalCondition" class="form-control" />
                <span asp-validation-for="AppraisalCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyorName" class="control-label"></label>
                <input asp-for="SurveyorName" class="form-control" />
                <span asp-validation-for="SurveyorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurveyDescription" class="control-label"></label>
                <input asp-for="SurveyDescription" class="form-control" />
                <span asp-validation-for="SurveyDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TranscriptPath" class="control-label"></label>
                <input asp-for="TranscriptPath" class="form-control" />
                <span asp-validation-for="TranscriptPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhotoPath" class="control-label"></label>
                <input asp-for="PhotoPath" class="form-control" />
                <span asp-validation-for="PhotoPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

